html, body, p, input {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#signup_main {
    background: #040c0f;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#signup_logo {
    text-align: center;
    margin-top: 30px;
}

#signup_area {
    background: #040c0f;
    width: 385px;
    height: auto;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.signup_text {
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

span {
    font-size: 14px;
    color: silver;
    margin-left: 10px;
    margin-right: 10px;
}

#input_id {
    width: 350px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#input_pw {
    width: 350px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#input_pc {
    width: 350px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#input_name {
    width: 350px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#input_birth_year {
    width: 105px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#input_birth_month {
    width: 105px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#input_birth_day {
    width: 105px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#input_gender {
    width: 350px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#input_number {
    width: 350px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#input_email {
    width: 350px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#input_sign {
    background-image: url(image/btn.png);
    width: 350px;
    height: 40px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    cursor: pointer;
}